@import "../../variables";

.home-container {
  padding: 24px;
  .home-elements {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
}

.card-boxes {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 24px;
}

.card {
  padding: 24px;
  color: $light-white;
  background-color: red;
  border-radius: 12px;
  p {
    margin-bottom: 0;
    line-height: 1;
  }
  .card-title-bold {
    font-weight: bold;
    font-size: 24px;
    margin-top: 24px;
    i {
      margin-right: 8px;
    }
  }
  &:nth-child(1) {
    background-color: #7f8fff;
  }
  &:nth-child(2) {
    background-color: #ffa530;
  }
  &:nth-child(3) {
    background-color: #1b9bff;
  }
  &:nth-child(4) {
    background-color: #303fff;
  }
}

.chart-boxes {
  //   display: flex;
  //   flex-wrap: wrap;
  //   justify-content: space-between;
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  gap: 24px;
}

.chart-card {
  padding: 24px;
  background-color: $light-white;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 12px -2px rgba(0, 0, 0, 0.25);
}

.chart-card-graph {
  .chart {
    width: 100%;
    max-width: 500px;
  }
}

.chart-card-circle {
  .chart {
    width: 100%;
    max-width: 380px;
  }
}

@media only screen and (max-width: 1200px) {
  .chart-boxes {
    display: flex;
    flex-wrap: wrap;
  }
  .chart-card {
    width: 100%;
  }
}
