@import "../../variables";

.hero-container {
  min-height: 100vh;
  background-image: url("../../assets/hero-bg.png");
  background-size: 100% 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-origin: center;
  .hero-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.hero-text-box {
  padding-bottom: 2rem;
  width: 400px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  position: relative;
  z-index: 5;
  .logo {
    width: 100px;
  }
  h2,
  h4 {
    color: $black-60;
    font-weight: 600;
  }
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $grey;
    border-radius: 32px;
    transform: rotate(45deg);
    z-index: -1;
  }
}

.home-what-container {
  .home-what-wrapper {
    padding: 0;
  }
}

.home-about-container {
  .home-about-wrapper {
    padding: 0;
  }
}

.home-read-container {
  .home-read-wrapper {
    padding: 0;
  }
}

.home-projects-container {
  .home-projects-wrapper {
    padding: 0;
  }
}

// .home-events-container {
//   .home-events-wrapper {
//     padding: 0;
//   }
// }

.home-what-wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  .title-36 {
    line-height: 1.5;
  }
  .text-content-box {
    padding: 4rem 2.5rem;
    & > * {
      max-width: 624px;
      margin-inline: auto;
      text-align: left;
      margin-bottom: 2rem;
    }
  }
  .right-con {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4rem 2.5rem;
    .container-img {
      img {
        width: 100%;
        max-width: 624px;
        margin-inline: auto;
        height: 350px;
      }
    }
  }
}

.home-about-wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  color: $white;
  .title-36 {
    color: $white;
  }
  .bg-blue-box {
    background-color: $blue;
  }
  .bg-black-box {
    background-color: $black-shade-4;
  }
  .text-content-box {
    padding: 4rem 2.5rem;
    & > * {
      max-width: 624px;
      margin-inline: auto;
      text-align: left;
      margin-bottom: 2rem;
    }
  }
  .works-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
    .work-card {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      span {
        font-family: "JetBrains Mono", monospace;
      }
      span:first-child {
        font-size: 32px;
      }
    }
  }
}

.home-read-wrapper {
  width: 100%;
  .title-36 {
    line-height: 1.5;
  }
  .text-content-box {
    padding-inline: 2.5rem;
    & > * {
      max-width: 924px;
      text-align: left;
      margin-bottom: 2rem;
    }
  }
}

.home-projects-wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  .bg-grey-box {
    background-color: $grey;
    color: $black-75;
    .title-36 {
      color: $black-75;
    }
  }
  .bg-green-box {
    background-color: $green;
    color: $white;
    .title-36 {
      color: $white;
    }
  }
  .text-content-box {
    padding: 4rem 2.5rem;
    & > * {
      max-width: 624px;
      margin-inline: auto;
      text-align: left;
      margin-bottom: 2rem;
    }
    .count {
      font-size: 24px;
      line-height: 1;
      font-family: "JetBrains Mono", monospace;
      .large-no {
        font-size: 72px;
        margin-right: 1rem;
      }
    }
  }
  .home-projects-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    gap: 1rem;
    margin-top: 3rem;
    .home-project-card {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      padding: 1.5rem 1rem;
      background-color: $white;
      border-radius: 6px;
      color: $black-75;
      h3 {
        font-size: 18px;
        font-weight: 600;
        line-height: 1.5;
        color: $black-75;
        font-family: "JetBrains Mono", monospace;
        min-height: 75px;
      }
      .btn-outline-green {
        min-width: 100%;
        font-size: 14px;
        padding-block: 8px;
      }
    }
  }
}

.home-events-wrapper {
  .title-36 {
    margin-bottom: 2rem;
  }
  .event-card {
    background-color: $white;
    padding: 1.5rem;
    box-shadow: $gen-box-shadow;
    border-radius: 8px;
    .text-18 {
      margin-bottom: 1.5rem;
      color: $black-50;
    }
    .card-content-box {
      display: flex;
      gap: 3rem;
    }
    .card-call-to-action {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .title-20 {
        white-space: nowrap;
      }
    }
  }
  .more-events {
    margin-top: 4rem;
    text-align: center;
    .title-20 {
      font-weight: 500;
    }
  }
}

@media only screen and (max-width: 1048px) {
  .home-projects-wrapper {
    grid-template-columns: auto;
    .text-content-box > * {
      max-width: 100%;
    }
  }
}

@media only screen and (max-width: 992px) {
  .home-about-wrapper,
  .home-what-wrapper {
    grid-template-columns: auto;
    .text-content-box > * {
      max-width: 100%;
    }
  }
  .home-what-wrapper {
    .right-con {
      padding-block: 0;
      .container-img {
        img {
          max-width: 100%;
          height: auto;
        }
      }
    }
  }
  // .home-read-wrapper {
  //   padding-inline: 2.5rem;
  //   .text-content-box {
  //     max-width: 624px;
  //     margin-inline: auto;
  //     padding-inline: 0;
  //   }
  // }
  .home-events-wrapper {
    .event-card {
      .card-content-box {
        flex-direction: column;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .hero-text-box {
    width: 350px;
    height: 350px;
    h2 {
      font-size: 20px;
    }
    h4 {
      font-size: 16px;
    }
  }
}

@media only screen and (max-width: 600px) {
  .hero-text-box {
    width: 300px;
    height: 300px;
    .logo {
      width: 60px;
    }
    h2 {
      font-size: 18px;
    }
    h4 {
      font-size: 14px;
    }
  }
}

@media only screen and (max-width: 548px) {
  .home-projects-wrapper,
  .home-about-wrapper,
  .home-what-wrapper {
    .text-content-box {
      padding: 3rem 1.5rem;
    }
  }
  .home-read-wrapper {
    .text-content-box {
      padding-inline: 1.5rem;
    }
  }
  .home-about-wrapper {
    .works-box {
      gap: 2rem;
    }
  }
  .home-projects-wrapper {
    .home-projects-box {
      grid-template-columns: auto;
      justify-content: normal;
    }
  }
  .home-events-wrapper {
    .event-card {
      .card-call-to-action {
        .title-20 {
          white-space: normal;
        }
        .cta-buttons {
          flex-direction: column;
        }
      }
    }
  }
}

@media only screen and (max-width: 500px) {
  .hero-container {
    .hero-wrapper {
      padding-inline: 0;
    }
  }
  .hero-text-box {
    .logo {
      width: 30px;
    }
    h2 {
      font-size: 16px;
    }
    h4 {
      font-size: 14px;
    }
    .cta-single-button {
      margin-top: 1rem !important;
    }
    .btn-fill {
      padding-block: 6px;
      min-width: max-content;
      font-size: 11px;
    }
  }
}

@media only screen and (max-width: 424px) {
  .hero-text-box {
    width: 225px;
    height: 225px;
    h2 {
      font-size: 13px;
    }
    h4 {
      font-size: 11px;
    }
  }
}
