@import "../../variables";

@mixin bgDark {
  background-color: $white;
  color: $dark;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

// sidebar

.sidebar {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  overflow: hidden;
  transition: width 300ms ease;
  @include bgDark();

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .logo {
    white-space: nowrap;
  }

  .btn-title,
  .ant-menu-title-content,
  .ant-menu-submenu-arrow {
    opacity: 1;
    white-space: nowrap;
    transition: opacity 300ms ease;
  }
}

.sidebar.closed {
  width: 72px;
  .btn-title,
  .ant-menu-title-content,
  .ant-menu-submenu-arrow {
    opacity: 0;
  }
}

// top-bar (logo + menu)

.top-bar {
  margin-bottom: 32px;
  padding: 20px 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .logo {
    color: $dark;
    font-size: 22px;
    font-weight: 400;
    line-height: 1;
    letter-spacing: 1px;
  }
}

// toggle menu

.menu-toggle {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 6px;
  .menu-toggle-bar {
    width: 24px;
    height: 2px;
    background-color: $dark;
    border-radius: 2px;
  }
  .one {
    width: 12px;
  }
  .three {
    width: 18px;
  }
}

// Sidebar Links

.nav-container {
  display: flex;
  align-items: center;
  flex-grow: 1;

  .title-text {
    margin-top: 12rem;
    display: flex;
    align-items: flex-start;
    gap: 8px;
    transform: rotate(-90deg);
    width: 72px;
    font-family: "JetBrains Mono", monospace;
    .logo {
      width: 20px;
    }
    span {
      white-space: nowrap;
    }
    .logo-text-content {
      display: flex;
      flex-direction: column;
      & > span:first-child {
        font-size: 14px;
        font-weight: 500;
      }
      & > span:last-child {
        font-size: 12px;
        color: $black-60;
        font-weight: 500;
      }
    }
  }
}

.nav-links {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  max-width: max-content;
  margin-inline: auto;
  opacity: 1;
  transition: opacity 300ms ease-in-out;
  transition-delay: 300ms;
  li {
    font-family: "JetBrains Mono", monospace;
    a {
      color: inherit;
      font-size: 20px;
      transition: color 200ms ease;
    }
    a:hover {
      color: $blue;
    }
  }
}

.nav-links.hidden {
  opacity: 0;
  transition-duration: 0ms;
  transition-delay: 0ms;
}

.nav-links.hidden {
  opacity: 0;
}

@media only screen and (max-width: 768px) {
  .menu-toggle {
    position: fixed;
    z-index: 1000;
    top: 28px;
    right: 16px;
    width: 45px;
    height: 45px;
    align-items: center;
    justify-content: center;
    background-color: $light-grey;
    border-radius: 50%;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    .menu-toggle-bar {
      background-color: $dark;
      transition: transform 250ms ease, background-color 250ms ease;
      width: 24px;
    }
    .two {
      transform: scaleX(1);
      transform-origin: right;
    }
  }
  .menu-toggle-light {
    background-color: transparent;
    box-shadow: none;
    .menu-toggle-bar {
      background-color: $dark;
    }
    .two {
      transform: scaleX(0);
    }
    .one {
      transform: rotate(45deg) translateY(12px);
    }
    .three {
      transform: rotate(-45deg) translateY(-11px);
    }
  }
  .sidebar {
    width: 100%;
    // .logo {
    //   padding: 8px 0;
    // }
  }
  .sidebar.closed {
    width: 0;
  }
}
