$dark: #101220;
$blue: #1b9bff;
$white: #f6f6f6;

$light-white: #fff;
$grey: #afafaf;
$light-grey: #d5d5d5;
$grey-shade-2: #9392a8;
$grey-shade-3: #656f7e;

$dark-light: rgba(39, 41, 56, 0.75);
$blue-light: rgba(27, 156, 255, 0.75);

$black-75: rgba(0, 0, 0, 0.75);
$black-60: rgba(0, 0, 0, 0.6);
$black-50: rgba(0, 0, 0, 0.5);

$btn-blue: #f6f8fa;

$lightblue-shade-1: #dcf0ff;

$purple: #5c4ad5;
$purple-dark: #5241bd;
