$dark: #000;
$white: #fff;

$light-grey: #f8f8fa;
$grey: #f1f1f3;
$grey-shade-2: #eeeeee;

$black-75: rgba(0, 0, 0, 0.75);
$black-60: rgba(0, 0, 0, 0.6);
$black-50: rgba(0, 0, 0, 0.5);
$black-shade-4: #3c4043;

$blue: #007bff;
$green: #0f9d58;
$yellow: #ffc107;
$red: #d43544;

$google-blue: #4285f4;
$google-green: #34a853;
$google-yellow: #fbbc04;
$google-red: #ea4335;

$gen-box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
