@import "./variables";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: $grey;
}

::-webkit-scrollbar-thumb {
  background: $blue;
  border-radius: 6px;
}

.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  .wrapper {
    max-width: 1248px;
    margin-inline: auto;
    padding: 24px 40px;
  }
}

.btn {
  padding: 10px 20px;
  border-radius: 4px;
}
