@import "./variables";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: "Nunito", sans-serif;
  background-color: $white;
  font-size: 16px;
}

button {
  border: none;
  cursor: pointer;
}

input {
  outline: none;
}
